:root{
    --color1: #34374c;
    --color2: #2c2e3e;
    --color3: #ee2b47;
    --color4: #f6f6f6;
}

body {
    color: var(--color4);
}

.button{
    color: var(--color4);
    border: 1px solid var(--color4);
    width: 90px;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    opacity: 1.0;
    outline:0;
}

.button:hover {
    opacity: 0.7;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19)
}

.button:active {
    opacity: 0.3;
    box-shadow: 0 5px #666;
    transform: translateY(2px);
  }

.buttonColor1 {
    background-color: var(--color1);
}

.buttonColor2 {
    background-color: var(--color3);
}

.calcDisplay {
    background-color: var(--color2);
    border: 2px solid var(--color4);
    width: 347px;
    height: 100px;
    padding-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 80px;
    text-align: right;
    opacity: 1;
}
